domains/flood/model/cnn_v2/*.txt -text whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
domains/flood/model/cnn_v2/config/*.txt -text whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
domains/flood/model/cnn_v2/boundary_templates/**/*.csv -text whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
domains/flood/model/cnn_v2/weights/*.json -text whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
domains/flood/model/cnn_v2/weights/*.pth filter=lfs diff=lfs merge=lfs -text
